#acfg4-migrate-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  display: none;
}

#acfg4-migrate-popup {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  display: none;
}

#acfg4-migrate-popup .migrate-helper-text {
  margin-bottom: 5px;
  display: block;
}

#acfg4-migrate-popup .spacer-between-from-two {
  padding-left: 15px;
  padding-right: 15px;
  vertical-align: middle;
}

#acfg4-migrate-popup input[type="text"],
#acfg4-migrate-popup select {
  border: 1px solid #8c8f94 !important;
  vertical-align: top !important;
}

#acfg4-migrate-popup .action-buttons {
  text-align: right;
  margin-top: 15px;
}

#acfg4-migrate-popup .action-buttons button {
  padding: 5px 12px !important;
  border: 1px solid #8c8f94 !important;
  cursor: pointer !important;
  margin-left: 12px !important;
}

#acfg4-migrate-popup .important-note-list {
  list-style-type: disc;
  margin-left: 0px;
  padding-left: 20px;
}

#acfg4-migrate-popup .notice {
  display: none;
  margin: 0px;
  padding: 8px 12px !important;
}
